@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.hero {
  background-image: url("images/hero.png");
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 3% 7%;
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  gap: 280px;
  margin-bottom: 20px;
}

.header img {
  width: 11%;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.line {
  width: 100%;
  height: 1px;
  background: white;
}

.hero-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% auto;
}

.hero-text {
  width: 45%;
  font-size: 2.8rem;
}

.iframe {
  width: 408px;
  height: 340px;
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

iframe {
  border-radius: 15px;
}

.map-search {
  width: 408px;
  height: 88px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.map {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features {
  padding: 3% 7%;
}

.features h2 {
  font-weight: 700;
  width: fit-content;
}

.text-line {
  width: 30%;
  height: 2px;
  margin-top: 1%;
  background: #F4511E;
;
}

.features-area {
  margin: 4% 0 0 -8%;
  display: flex;
  justify-content: space-between;
}

.list-details {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
}

.list {
  width: 30%;
}

.list h4 {
  width: 80%;
}

.vector {
  width: 54px;
  height: 54px;
  background: #ffffff;
  box-shadow: 0px 12px 19px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vector img {
  width: 70%;
}

.properties {
  padding: 3% 7%;
}

.properties h2 {
  width: fit-content;
}

.prop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prop button {
  color: white;
  background: #F4511E;
  box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  border: none;
  padding: 2% 3%;
}